
	/*set border to the form*/

	
	form {
		border: 3px solid rgb(223, 204, 204);
	}
	/*assign full width inputs*/
	
	input[type=text],
	input[type=password] {
		width: 100px;
		padding: 10px 0px;
		display: block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		outline: 0;
	}
	/*set a style for the buttons*/

	button {
		background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 20px 10;
		border: none;
		cursor: pointer;
		width: 30%;
	}
	/* set a hover effect for the button*/
	.mailbox{
		text-align:center;
		font-family: 'Times New Roman', Times, serif;
		margin-left: 4%;
	}
	button:hover {
		opacity: 0.8;
	}
	/*set extra style for the cancel button*/
	
	.cancelbtn {
		width: auto;
		padding: 10px 20px;
		background-color: #f44336;
		text-align: center;
		border-radius: 30px;
	}
	/*centre the display image inside the container*/
	
	.imgcontainer {
		text-align: center;
		margin: 20px 0 12px 0;
	}
	/*set image properties*/
	
	img.avatar {
		width: 40%;
		border-radius: 50%;
	}
	/*set padding to the container*/
	
	.container {
		padding: 16px;
		
	}
	/*set the forgot password text*/
	
	span.psw {
		float: right;
		padding-top: 16px;
	}
	input{
		width: 50px;
		border-width: 50px;
	}
	input.pass{
		width: 30%;
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		margin-left: 37%;
	}
	input.uname{
		width: 100px;
		text-align: center;
		padding: 10px;
		border-radius: 10px;
		margin-left: 37%;

	}
	.submit{
		
		border-radius: 10px;
		margin-left: 42%;
	}
	input.remainder{
		margin-bottom: 30px;
	}
	/*set styles for span and cancel button on small screens*/
	
	@media screen and (max-width: 300px) {
		span.psw {
			display: block;
			float: none;
		}
		.cancelbtn {
			width: 100%;
		}
	}

#first
{
	width: 427px;
	
}
.back{
	text-align:center;
	height: 75px; ; 
	font-size: 20px;
	background-color:rgb(128, 44, 44);
	color: beige;
	justify-content: center;
	align-items:center;
	border : 1px solid rgb(63, 152, 77);
    padding-bottom: 6px;
	font-weight: bold;
	display: grid;	

}


